@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
}

.container {
  min-height: calc(100vh - 80px);
  padding: 1rem;
}

.data-grid-container {
  min-height: 500px;
  height: calc(100vh - 200px);
}
